.heading{
  display: inline;
  font-size: 6em;
}

body{
  background-image: url(background-join.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center ;
  background-attachment: fixed;
  text-align: center;
}

.checkbox_email{
  display: inline;
  font-size: 4em;

}

input{
  border-radius: 20px;
  /* box-shadow: 10px 10px; */
}

.card{
  padding: 1em;
  margin: 0 auto;
  border-radius: 20px;
  border-color: black;
  box-shadow: 15px 15px;
  border-style:groove;
  color: black;
  font-weight: bolder;
  text-align: justify;


  text-shadow:0 0 5px white, 0 0 5px white;
}
h2{
  text-shadow:0 0 5px white, 0 0 5px white;
  font-size: 5em;
}

#test{
  width: 6em;
  height: 3em;
  font-size: 2em;
  border-radius: 46%;
  transition-duration: 0.4s;
}

#test:hover{
  background-color: lightgrey;
}

#email_check{
  width: 1em;
}
