.heading{
  display: inline;
}

body{
  background-image: url(background_join.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.checkbox_email{
  display: inline;
  font-size: 20px;
}

input{
  border-radius: 20px;
  /* box-shadow: 10px 10px; */
}

.card{
  border-radius: 20px;
  border-color: black;
  box-shadow: 15px 15px;
  border-style:groove;
  color: black;
  text-align: justify;
  font-size: 20px;
  position: relative;
  left: 460px;
  top: 100px;
}
