body{

  background-image: url(add_group_background.jpg);
  background-repeat: no-repeat;
  background-position: center center ;
  background-attachment: fixed;
  background-size: cover;
}

.card{
  margin: 0 auto;
  border-style:groove;
  color: black;
  text-align: left;
  box-shadow: 10px 10px;
  border-radius: 10px;
  padding: 1em;
}

h1{
  font-size: 2em;
}

#title{
  text-align: center;
  text-decoration: underline;
}

input{
  border-radius: 10px;
  width: 18em;
  height: 2em;
  font-size: 1em;
}

#div1{border-radius: 10px;width: em;height: 2em;font-size: 1em;}

.add_group_button{
  width: 4em;
  height: 3em;
  border-radius: 90%;
  transition-duration: 0.4s;
  font-size: 1em;
}

.add_group_button:hover, .home:hover{
  background-color:lightgrey;
}

.home{
  width: 4em;
  height: 3em;
  border-radius: 21%;
  transition-duration: 0.4s;
  font-size: 1em;
  /* position:relative; */
  /* bottom: 50px; */
}
