body {

    background-image: url("home.jpg");
    background-repeat: no-repeat;
    background-position: center center ;
    background-attachment: fixed;
    background-size:  cover;
    height: 100%;

}
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  display: flex;

  padding: 10px;
  justify-content: center;
  /* height: 300px; /* Should be removed. Only for demonstration */ */
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

.row{
  display: flex;
  justify-content: space-around;
  padding-bottom: 5em;
  flex-wrap: wrap;
}

h1 {
  text-align: left;
  font-size: 10em;
  color: white;
  margin-top: 0;
}
}


.groups{
  position: inherit;
  top: 100px;
}

.intro{
  display: flex;
  justify-content: space-between;
}

h2 {
  position: relative;
  top: 0px;
  left:650px;
  font-size: 40px;
  color: 	#49879D;
}

.button {

    width: 4em;
    height: 4em;
    text-decoration: none;
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-style: none;
    color: #0D6791;
    background-color: white;
    border-radius: 100%;
    text-align: center;
    font-size: 1000%;
    filter: drop-shadow(0 0 30px #333);
    transition-duration: 0.4s;
}

.button:hover{
  background-color: lightgrey;
}

.round-button:active{
  background-color: #2980b9;
}


h3 {
  position: relative;
  top: -100px;
  left:150px;
  font-size: 40px;
  color: white;
}

/* Navbar container */
.navbar {
  font-size: 20px;
  font-family: Arial;
  padding-top: 1.5em;

  transition-duration: 0.4s;
}

/* Links inside the navbar */
.navbar a  {
    float: left;
    font-family: arial;
    font-size: 3em;
    color: #0D6791;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
}

/* The dropdown container */
.dropdown {
  float: left;
  font-size: 27px;
  overflow: hidden;
  font-family: arial;
  position: relative;
  color: darkgray;
  text-decoration: none;
  transition-duration: 0.4s;

}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 2.3em;
  border: none;
  outline: none;
  color: 	#0D6791;
  padding: 14px 16px;
  font-family: arial; /* Important for vertical align on mobile phones */
  margin: 0;
  /* font-weight: bolder;/* Important for vertical align on mobile phones */ */
  transition-duration: 0.4s;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: 	#0D6791;
  color: white;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  font-size: 27px;
  position: relative;
  background-color: 	#0D6791;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition-duration: 0.4s;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition-duration: 0.4s;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color:	#49879D;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
