body {

    background-image: url("home.jpg");
    background-repeat: no-repeat;
    background-position: center center ;
    background-attachment: fixed;
    background-size:  cover;
    height: 100%;

}
* {
  box-sizing: border-box;
}

.column {
  display: flex;
  /* padding: 10px; */
  justify-content: center;
}



.row{
  display: flex;
  justify-content: space-evenly;
  /* padding-bottom: 5em; */
  flex-wrap: wrap;
}

h1 {
  text-align: left;
  font-size: 9em;
  color: white;
  margin-top: 0;
}
}


#groups{
  top: 100px;
}

.intro{
  display: flex;
  justify-content: space-between;
}

h2 {
  position: relative;
  top: 0px;
  left:650px;
  font-size: 40px;
  color: 	#49879D;
}

.button {

    width: 4em;
    height: 4em;
    text-decoration: none;
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-style: none;
    color: #0D6791;
    background-color: white;
    border-radius: 100%;
    text-align: center;
    font-size: 500%;
    filter: drop-shadow(0 0 30px #333);
    transition-duration: 0.4s;
    /* animation-iteration-count: 100; */
}

.button:hover{
  background-color: lightgrey;
}

.round-button:active{
  background-color: #2980b9;
}


h3 {
  position: relative;
  top: -100px;
  left:150px;
  font-size: 40px;
  color: white;
}

/* Navbar container */
.navbar {
  font-size: 2em;
  font-family: Arial;
  padding-top: 1.5em;
  transition-duration: 0.4s;
}

/* Links inside the navbar */
.navbar a  {
    float: left;
    font-family: arial;
    font-size: inherit;
    color: #0D6791;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
}


.dropdown {
  float: left;
  font-size: inherit;
  overflow: hidden;
  font-family: arial;
  position: relative;
  color: darkgray;
  text-decoration: none;
  transition-duration: 0.4s;



 }

/* Dropdown button */
.dropdown .dropbtn {
  font-size: inherit;
  border: none;
  outline: none;
  color: 	#0D6791;
  padding: 14px 16px;
  font-family: arial; /* Important for vertical align on mobile phones */
  margin: 0;
  /* font-weight: bolder;/* Important for vertical align on mobile phones */ */
  transition-duration: 0.4s;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: 	#0D6791;
  color: white;
}


 .dropdown-content {
  display: none;
  font-size: inherit;
  background-color: 	#0D6791;
  transition-duration: 0.4s;
  right: 0;

}


.dropdown-content a {

  color: white;
  transition-duration: 0.4s;
  background-color: #0D6791;  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  position: relative;
  transition-duration: 0.4s;
  right: 0px;

}


.dropdown-content a:hover {
  background-color:	#49879D;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.del{
  background-color: none;
  height: 1.5em;
  border-radius: 100%;
  filter: drop-shadow(0 0 30px #333);
  display: none;
  position: relative;
  top: 2em;
  right: 2em;
  font-size: 1em;
  transition-duration: 0.4s;

}

.del:hover{
  background-color: lightgrey;
}

/* #delete:active{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
} */

 @keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
