body {

    background-image: url("blue-background.jpg");
    background-repeat: no-repeat;
    background-position: ;
    background-attachment: scroll;
    background-size: cover;
}

h1 {
  position: relative;
  top: -25px;
  left: 410px;
  font-size: 100px;
  color: navy ;
}

#title{
  position: relative;
  top: -15px;
  left: 240px;
  font-size: 100px;
  color: navy;
}

h2 {
  position: relative;
  top: 0px;
  left:650px;
  font-size: 40px;
  color: teal;
}

  .button {
  background-color: navy;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 20px 20px;
}

.button1 {
  border-radius: 50%;
position: relative;
top: 100px;
left:500px;
}

.button2 {
  border-radius: 50%;
  position: relative;
  top: -80px;
  left:160px
}
.button3 {
  border-radius: 50%;
  position: relative;
  top: -260px;
  left:800px
  }
.button4 {
  border-radius: 50%;
  position: relative;
  top: -300px;
  left:300px
  }
.button5 {
  border-radius: 50%;
  position: relative;
  top: -470px;
  left:610px
  }

h3 {
  position: relative;
  top: -100px;
  left:150px;
  font-size: 40px;
  color: white;
}

/* Navbar container */
.navbar {
  font-size: 20px
  background-color: #333;
  font-family: Arial;
position: relative;
  top: -1100px;
  left:-160px
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 20px;
  color: darkgray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  font-size: 20px
  overflow: hidden;
  font-family: Arial;
  position: relative;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: darkgray;
  padding: 14px 16px;
  background-color: inherit;
  font-family: arial; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: teal;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  font-size: 27px
  position: absolute;
  background-color: teal;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: teal;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
