
.intro {
    padding: 1em;
    background-color: #0D6791;
    width: 45%;
    /* height: 100%; */
    float: right;
    color: white;
    text-align: left;
    font-size: 4.3em;

}

#welcome, #para{
  position: relative;
  left: 50px;

}

.logo{
  width: 50%;
  float: left;
}

img{
  width:103em;
  height: auto;
}

button{
  border-radius: 20px;
  border: none;
  color: navy;
  width: 3em;
  height: 1.3em;
  position: relative;
  left: 600px;
  transition-duration: 0.4s;
  font-size: 1em;
}

button:hover{
  background-color: gold;
}
