
body{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.column{
  width: 33.3%;
  float:left;
  padding: 100px;
  position: relative;
  right:200px;
  /* top: 100px; */
  /* bottom: 100px; */


}
.column2{
  width: 33.3%;
  float:left;
  padding: 100px;
  position: relative;
  right:200px;
  /* top: 100px; */
   bottom: 300px;
}
.column3{
  width: 33.3%;
  float:left;
  padding: 100px;
  position: relative;
  right:200px;
  /* top: 100px; */
   bottom: 600px;
}


.info{
text-align: left;
position: relative;
left: 390px;
bottom: 230px;
}



#home{
  float:left;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
  transition-duration: 0.4s;
}

#home:hover{
  background-color: #0D6791;
  color: white;
}
