
body{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.column{
  display: flex;
  width: 33.3%;
  float:left;
  padding-bottom: 4em;



}

#profile_name{
  padding-right: 2em;
}

.info{
text-align: left;

}



#home{
  float:left;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
  transition-duration: 0.4s;
}

#home:hover{
  background-color: #0D6791;
  color: white;
}
